{%extends "base/base.html"%}
{% block title %} Strona Operatora Stanowiska {%endblock%}
{% block head %}
<style>
    #button_reservation {
        width: 60px;
        height: 20px;
        ;
    }

    .list_of div{
        font-family: 'Roboto', sans-serif;
        font-style: Regular;
        color: #1A831A;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        vertical-align: Center;
        letter-spacing: 3%;
        border-radius: 20px;
        height:4%;
        width:100%;
        background-color: #BBC7DF;
        border: 0.5px solid #000000;
        
    }


</style>
<script>
    function prosby_o_rezerwacje() {
        //pokazanie listy rezerwacji do zatwierdzenia
        reservations = document.getElementById('list_of_reservations_operator')
        reservations.style.display = 'block'

        //zniknięcie listy z salami do rezerwacji
        reservation = document.getElementById('reservation_operator')
        reservation.style.display = 'none'
        //zniknięcie formularza rezerwacji
        reservation = document.getElementById('form_reservation_operator')
        reservation.style.display = 'none'

    }

    function select_reservation_operator(id) {

        //user_info = document.getElementsByClassName('more_user_info')
        //user_info[0].style.display = 'none';
        more_reservations_info = document.getElementById('more_reservation_info_operator')
        more_reservations_info.style.display = 'block'



        // buttons_reservations = document.getElementsByClassName('buttons_reservations');
        // buttons_reservations[0].style.display = 'block'

        $.ajax({
            url: '/page/operator/',
            headers: { "X-Requested-With": "XMLHttpRequest4" },
            type: "GET",
            data: { "id": id },
            success: (data) => {
                console.log(data)
                const more_reservation_info = $("#reservation_info_operator");
                more_reservation_info.empty();
                reservation_data = data.context[0];
                user2 = data.user[1];
                user = data.user[0];

                const id = `<p class="reservation_id"> ${reservation_data.reservation_id}</p>`;

                const first_name = `<p class="first_name"> ${user.first_name}</p>`;
                const last_name = `<p class="first_name"> ${user.last_name}</p>`;
                const email = `<p class="email"> ${user.email}</p>`;
                const firm = `<p class="firm"> ${user2.firm}</p>`;
                const start_date = `<p class="start_date"> ${reservation_data.start_date.substring(0, 10)}</p>`;
                const end_date = `<p class="end_date"> ${reservation_data.end_date.substring(0, 10)}</p>`;

                // console.log(email);
                more_reservation_info.append(id);
                more_reservation_info.append(email);
                more_reservation_info.append(first_name);
                more_reservation_info.append(last_name);
                more_reservation_info.append(firm)
                more_reservation_info.append(start_date)
                more_reservation_info.append(end_date)

                // informacje o użytkowniku do zmiany w formularzu
                $('#form_crispy_approving_operator').empty();
                $('#form_crispy_approving_operator').html(data['form']);
            },
            error: (error) => {
                console.log(error);
            }
        });


    }


    //zatwierdzenie rezerwacji
    $(function () {
        $("#form_crispy_approving_operator").on('click', '#approving_button_reservation', (e) => {
            e.preventDefault();
            var id = $(".reservation_id").text();

            console.log(id);
            $.ajax({
                url: '/page/operator/',
                type: "PUT",
                //dataType: "json",
                data: JSON.stringify({ id: id, }),
                headers: {
                    "X-Requested-With": "XMLHttpRequest5",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                success: (data) => {
                    console.log(data)
                    $('#form_crispy_approving_operator').empty();
                    $("#reservation_info_operator").empty();
                    let x = '#reservation_operator_id_' + $.trim(data.id);
                    $(x).remove();

                },
                error: (error) => {
                    console.log(error);
                }
            });
        });
    });

    //odrzucenie rezerwacji
    $(function () {
        $("#form_crispy_approving_operator").on('click', '#disapproving_button_reservation', (e) => {
            e.preventDefault();
            var id = $(".reservation_id").text();

            console.log(id);
            $.ajax({
                url: '/page/operator/',
                type: "PUT",
                //dataType: "json",
                data: JSON.stringify({ id: id, }),
                headers: {
                    "X-Requested-With": "XMLHttpRequest6",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                success: (data) => {
                    //console.log(data)
                    $('#form_crispy_approving_operator').empty();
                    $("#reservation_info_operator").empty();

                    let x = '#reservation_operator_id_' + $.trim(data.id);
                    $(x).remove();
                },
                error: (error) => {
                    console.log(error);
                }
            });
        });
    });


    function rezerwacja_operatora() {
        //zniknięcie listy rezerwacji do zatwierdzenia
        reservations = document.getElementById('list_of_reservations_operator')
        reservations.style.display = 'none'
        //pokazanie listy sal do rezerwacji
        reservation = document.getElementById('reservation_operator')
        reservation.style.display = 'block'
        //znikniecie informacji o rezerwacjach do zatwierdzenia
        more_reservations_info = document.getElementById('more_reservation_info_operator')
        more_reservations_info.style.display = 'none'

    }
    //wyświetlanie sali do rezerwacji
    function select_station_operator(lab) {

        form_station = document.getElementById('form_reservation_operator')
        //console.log(users_info.style)
        form_station.style.display = 'block';
        //console.log(users_info.style)
        $.ajax({
            url: '/page/operator/',
            headers: { "X-Requested-With": "XMLHttpRequest" },
            type: "GET",
            data: { "lab": lab },
            success: (data) => {
                console.log(data)
                const form = $("#form_reservation_operator");
                form.empty();

                const selected_lab = `<p class="selected_lab"> ${data['lab']}</p>`;

                form.append(selected_lab);
                //wyświetlenie formularza rezerwacji
                form.append(data['form']);

            },
            error: (error) => {
                console.log(error);
            }
        });
    }

//przesyłanie formularza rezerwacji
    $(function () {
    $("#form_reservation_operator").on('click', '#reservation_send_button_operator', (e) => {
      e.preventDefault();

      var lab = $(".selected_lab").text();
      var lab = $.trim(lab);
      const formData = {
        start_date: form_id_reservation_operator.elements['start_date'].value,
        end_date: form_id_reservation_operator.elements['end_date'].value,
        lab_station: lab
      }


      $.ajax({
        url: '/page/operator/',
        type: "PUT",
        //dataType: "json",
        data: JSON.stringify({ formData: formData }),
        headers: {
          "X-Requested-With": "XMLHttpRequest2",
          "X-CSRFToken": getCookie("csrftoken"),
        },
        success: (data) => {
          console.log(data)
          $("#form_reservation_operator").empty();
        },
        error: (error) => {
          console.log(error);
        }
      });
    });
  });



</script>
{% endblock %}

{% block icons %}
<button onclick="prosby_o_rezerwacje()">Potwierdzenie rezerwacji</button>
<button onclick="rezerwacja_operatora()">Rezerwacja Stanowiska</button>
{%endblock%}

{% block list %}
<div class="list_of" id="list_of_reservations_operator" style="display:none">
    {% for r in reservations %}
    {% if r.operator and r.approved_status_operator == 0 %}
    <div onclick="select_reservation_operator('{{r.reservation_id}}')"
        id="reservation_operator_id_{{r.reservation_id}}"> {{r.lab_station}}, {{r.start_date|truncatechars:12 }}</div>
    {%endif%}
    {% endfor %}



</div>
<div class="list_of" id="reservation_operator" style="display:none">
    {% for s in stations %}
    <div onclick="select_station_operator('{{s}}')">{{s}}</div>
    {%endfor%}

</div>
{%endblock%}



{% block content %}


<div id="more_reservation_info_operator">

    <div id="reservation_info_operator"></div>
    <div id="form_crispy_approving_operator"></div>
</div>

<div id="form_reservation_operator">




</div>


<!-- <div id="form_for_operator">
<form method="post">
    {% csrf_token %}
    {{form.as_p}}

 <button type="submit" id="button_reservation">Wyślij</button>
</form>
</div> -->

{%endblock%}

{% block usertype %}
<h1 class="logo">OPERATOR</h1>
{%endblock%}