{%extends "base/base.html"%}
{% block title %} superadmin {%endblock%}

{% block head %}
<style>
    #not_approved_users div {
        background-color: indianred;
        text-align: center;
    }
    #approving_button{
        width:300px;
    }
   
    
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    //wyświetlenie listy rezerwacji
    function reservation() {
        users = document.getElementById('not_approved_users')
        users.style.display = 'none'

        reservations = document.getElementById('list_of_reservations')
        reservations.style.display = 'block'
    }
    //wyświetlenie listy użytkowników do zatwierdzenia
    function approving_users() {
        users = document.getElementById('not_approved_users')
        users.style.display = 'grid'

        reservations = document.getElementById('list_of_reservations')
        reservations.style.display = 'none'
    }


    function funkcja(id) {

        $.ajax({
            url: '/page/superuser/',
            // headers: {"X-Requested-With": "XMLHttpRequest"},
            type: "GET",
            data: { "id": id },
           // dataType: "json",
            success: (data) => {
                console.log(data)
                const user_info_first_name = $("#user_info");
                user_info_first_name.empty();
                user = data.context[0];
                profile = data.context[1];

                const first_name = `<p id="test"> ${user.id}</p>`
                user_info_first_name.append(first_name);
                
                $('#uu').empty();                
                $('#uu').html(data['form']);
               // $('#uu').append(sub);
                //const submit=`<button type="submit" id="submit_form"> potwierdz </button>`;
               // $('#uu').append(submit);
               // $('#u').append(splitted[1]);
                /*
                (data.context).forEach(user => {
                    const HTMLElement = `
                    
                        <p> ${user.approval}</p>
                        
                    `
                    user_info.append(HTMLElement);
                });
                */
            },
            error: (error) => {
                console.log(error);
            }
        });


    }




$(function () {
    $("#form_id").submit(function(e){
        e.preventDefault();
        console.log("now");
       
         // perform ajax operation here with data, action and method
    }); 

});

$(function () {
$("#submit-id-submit").on('click', (e) => {
    console.log("X");
      // prevent page reload
      e.preventDefault();
      // get the values from the form fields
      const formData = {
        task: updateTodoForm.elements["todoTaskPut"].value,
        completed: updateTodoForm.elements["todoCompletedPut"].checked,
      }

      const todoId = updateTodoForm.elements["todoIdPut"].value;
      const singleTodoUrl = `/todos/${todoId}/`;
      updateTodo(singleTodoUrl, formData);
      $("#updateTodoForm").trigger("reset");
    });
 
    });

//zatwierdzenie użytkownika
$(function () {
$("#uu").on('click','#approving_button', (e) => {
    e.preventDefault();
    var id=$("#test").text();
   
    const formData = {
        is_user:form_id.elements['id_is_user'].checked,
        is_operator:form_id.elements['id_is_operator'].checked,
        is_admin:form_id.elements['id_is_admin'].checked,
        id:id
        }
        console.log(formData);

        function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
//const csrftoken = getCookie('csrftoken');

        $.ajax({
            url: '/page/superuser/',
            type: "PUT",
            //dataType: "json",
            data: JSON.stringify({formData: formData,}),
            headers: {
                "X-Requested-With": "XMLHttpRequest2",
                "X-CSRFToken": getCookie("csrftoken"),  
            },
            success: (data) => {
                console.log(data);
            },
            error: (error) => {
                console.log(error);
            }
        });

      
     // updateTodo(singleTodoUrl, formData);
   //   $("#updateTodoForm").trigger("reset");

    });
});
</script>
{%endblock%}


{% block icons %}
<button onclick="reservation()">rezerwacja</button>
<button onclick="approving_users()">dodanie</button>

{%endblock%}


{% block usertype %}
superadmin
{%endblock%}

{%block list%}
<!--lista niezatwierdzonych użytkowników-->
<div id="not_approved_users" style="display:none">
    {% for user in users %}
    {% if user.profile.approval == 0 %}
    <div onclick="funkcja('{{user.id}}')" id="user_id">{{user.first_name}} {{user.last_name}}</div>
    <!--<p id="id_for_django_view" >2</p>-->
    {%endif%}
    {% endfor %}
</div>



<!--lista rezerwacji-->
<div id="list_of_reservations" style="display:none">
    {% for user in users %}
    <li>{{user.profile}}</li>
    {% endfor %}
</div>
{%endblock%}

{% block content %}
<div id="user_info">

 
</div>

<div id="u">
</div>
<div id="XD">
 
    
</div>
<div id="uu">
</form>

</div>
{%endblock%}