{%extends "base/base.html"%}
{% block title %} Strona Uzytkownika {%endblock%}
{% block head %}
<style>
  #button_reservation {
    width: 60px;
    height: 20px;
    
  }

  .selected_lab{
    font-family: 'Roboto', sans-serif;
    font-style: Regular;
    color: #0E4714;
    font-size: 20px;
}

.form-select{
  width: 40%;
}

.form-label{
    font-family: 'Roboto', sans-serif;
    font-style: Regular;
    color: #0E4714;
    font-size: 20px;
}
.form-control{
    width: 40%;
}

.center{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 15%;
  left: 40%;
  margin: -50px 0 0 -50px;
}

  .list_of_stanowiska div{
    font-family: 'Roboto', sans-serif;
    font-style: Regular;
    color: #1A831A;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: Center;
    letter-spacing: 3%;
    border-radius: 10px;
    height:4%;
    width:100%;
    background-color: #BBC7DF;
    border: 0.5px solid #1A831A;
    
}
</style>
<script>
  // $(function () {
  //   $("#reservation_date").datepicker();
  // });
  function stations_user() {
    stations = document.getElementById('list_of_stations_user');
    stations.style.display = 'block';

  }

  //wyświetlanie formularza rezerwacji dla odpowiedniej sali
  function select_station_user(lab) {

    form_station = document.getElementById('form_reservation_user')
    //console.log(users_info.style)
    form_station.style.display = 'block';
    //console.log(users_info.style)
    $.ajax({
      url: '/page/user/',
      headers: { "X-Requested-With": "XMLHttpRequest" },
      type: "GET",
      data: { "lab": lab },
      success: (data) => {
        console.log(data)
        const form = $("#form_reservation_user");
        form.empty();

        const selected_lab = `<p class="selected_lab"> ${data['lab']}</p>`;

        form.append(selected_lab);
        //wyświetlenie formularza rezerwacji
        form.append(data['form']);

      },
      error: (error) => {
        console.log(error);
      }
    });
  }

  //przesyłanie formularza rezerwacji - dokonanie rezerwacji
  $(function () {
    $("#form_reservation_user").on('click', '#reservation_send_button', (e) => {
      e.preventDefault();

      var lab = $(".selected_lab").text();
      var lab = $.trim(lab);
      const formData = {
        start_date: form_id_reservation_user.elements['start_date'].value,
        end_date: form_id_reservation_user.elements['end_date'].value,
        operator: form_id_reservation_user.elements['operator'].value,
        lab_station: lab
      }


      $.ajax({
        url: '/page/user/',
        type: "PUT",
        //dataType: "json",
        data: JSON.stringify({ formData: formData }),
        headers: {
          "X-Requested-With": "XMLHttpRequest2",
          "X-CSRFToken": getCookie("csrftoken"),
        },
        success: (data) => {
          console.log(data)
          $("#form_reservation_user").empty();
        },
        error: (error) => {
          console.log(error);
        }
      });
    });
  });





</script>


{% endblock %}
{% block icons %}
<button onclick="stations_user()">Rezerwacja Stanowiska</button>
{%endblock%}


{% block list %}
<div id="list_of_stations_user" style="display:none" class="list_of_stanowiska">
  {% for s in stations %}
  <div onclick="select_station_user('{{s}}')">{{s}}</div>
  {%endfor%}
</div>

{%endblock%}




{% block content %}
<div class="center" id="form_reservation_user" style="display:none">




</div>




{%endblock%}



{% block usertype %}
<h1 class="logo"> Uzytkownik</h1>
{%endblock%}