{%extends "home/base.html"%}
{% load static%}
{% block title %} Twoje konto oczekuje na zatwierdzenie {%endblock%}
{% block content %}
<div>
  <button class = "zalogujSie" onclick="location.href = '/login'">Zaloguj się</button>
  <button class ="zalKonto" onclick="location.href = '/register'">Załóż konto</button>
</div>

<div class="downWaiting">
  <h1 class="oczekiwanie"> Twoje konto oczekuje na zatwierdzenie.</h1>
</div>


{%block body%}
    <div>
        <div class="col-sm-10 offset-sm-1">
            <img <img src="{% static 'media/waiting.svg' %}" class="centerIMG"/>
        </div>
    </div>
{%endblock%}


{%endblock%}

